<!DOCTYPE html>
<html>
<head>
    <title>Neural Style Transfer</title>
</head>
<body>
    <h1>Neural Style Transfer</h1>
    <form action="/" method="post" enctype="multipart/form-data">
        <label for="style">Choose style image:</label><br>
        <input type="file" id="style" name="style" accept="image/*"><br>
        <label for="content">Choose content image:</label><br>
        <input type="file" id="content" name="content" accept="image/*"><br>
        <input type="submit" value="Upload">
    </form>
</body>
</html>
